.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

/* share items */
.text-center {
  text-align: center;
}
.text-primary {
  color: #252432;
}

.btn-primary {
  background-color: #4e47ff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  padding: 12px 36px;
}
/* header section */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
  
  
  
}


.nav-title {
    color: #4e47ff;
    font-size: 34px;
    font-weight: 900 
    
}



.header-title {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 37px;
}
.header-1 {
  margin-bottom: 158px;
}
.header {
  background-image: url(../images/Hero-bg.png);
}
.title-btn{
    margin-bottom: 152px;
}
