.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

body{
  background-color: rgba(245, 248, 255, 1);
}

/* share items */
.text-center {
  text-align: center;
}
.text-primary {
  color: #252432;
}

.text-secondery{
  color: #4E47FF;
}

.text-tertiary{
  color: rgba(0, 0, 0, 0.5);
}

.text-quarternary{
  color: rgba(0, 0, 0, 1);
}

/* AG */
.text-body-base {
  font-size: 16px;
  line-height: 140%; 
  color: rgba(0, 0, 0, 0.5);
}
.ag-body-base{
  font-size: 16px;
  line-height: 140%;
  color:rgba(30, 30, 30, 1) ;
}
.ag-body-base-2{
  font-size: 16px;
  line-height: 140%;
  color: rgba(179, 179, 179, 1);
}
.ag-heading{
  font-size: 24px;
  line-height: 140%;
  color: rgba(30, 30, 30, 1);
}
.ag-body-strong{
  font-size:16px;
  line-height: 140%;
  color: rgba(117, 117, 117, 1);
}

.btn-primary {
  background-color: #4e47ff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  padding: 12px 36px;
  cursor: pointer;
}
/* header section */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
  
  
  
}


.nav-title {
    color: #4e47ff;
    font-size: 34px;
    font-weight: 900 
    
}



.header-title {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 37px;
  margin-right: 267.5px;
  margin-left: 267.5px;
}
.banner-1 {
  margin-bottom: 158px;
}
.banner {
  background-image: url(../images/Hero-bg.png);
}
.title-btn{
    margin-bottom: 152px;
}
/* .header-2{
  margin-bottom: 152px;
} */


/*----- main part----- */

/* section action */
.action-title{
  font-size: 42px ;
  font-weight: bold;
  margin-bottom: 23px;
  margin-top: 62.5px;
}
.action-paragraph{
  margin-bottom: 23px;
}
.action-btn {
  margin-bottom: 62.5px;
}
.action{
  display: flex;
  justify-content: space-between;
  margin: 116px 150px;

}


.action-img{
  border-radius: 48px;
  height: 328px ;
  width: 403px;
}

/* section- productive user */
.productive-user{
  background-color: rgba(78, 71, 255, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  margin: 116px 150px;
  padding: 50px 142px;
}

.productive-user-title{
  font-size: 38px;
  font-weight: bold;
  /* margin-bottom: 40px; */
  /* padding-top: 50px; */
  
  
  

}
.productive-user-numbers{
  
  font-size: 80px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 0px;
  /* padding-bottom: 0px; */
  
}
.productive-user-sub-title{
  font-size: 20px;
  margin-top: 0px;
  
  
}
.productive-user-container{
  display: flex;
  gap: 158px;
  justify-content: space-between;
  

  
}

/* --review part-- */

.review {
  margin: 137px 150px;
}
.review-star{
  padding: 0px 0px;
}

.review-title{
  font-size:42px ;
  font-weight: bold;
  margin-bottom:50px ;
}

.reviewer-pic-nam-dat{
  display: flex;
  align-items:center;
  gap: 6px; 
}
.reviewer-name-date{
  display: flex;
  flex-direction: column;
}
.r-name{
  margin-bottom: 0px;
  padding: 0px; 
  color: #757575;
  background-color:
}
.r-date{
  margin-top: 0px;
  color: #B3B3B3;  background-color: 
}
.r-pic{
  height: 40px;
  width: 40px;
}
.review-details{
  color: #1E1E1E; 
  margin-top: 24px;
}
.r-detail{
  margin-top: 24px;
  margin-bottom: 8px;
  padding: 0px;
}
.r-paragraph{
  padding: 0px;
  margin-top:8px;
  margin-bottom: 0px;
}

.review-descriptions{
  display: flex;
  justify-content: center;
  gap: 20px ; 
}

.review-1{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 14px;
  padding: 24px;
  padding-bottom: 0px;
}

/* ---Focus part--- */


.focus{
  display: grid; 
  justify-content: center;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  background-color: rgba(255, 255, 255, 1);
  /* justify-content: center;
  align-items: center; */
}
.focus-title{
  font-size: 50px;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
  margin-top: 71px;
  margin-bottom: 20px;
}
.paragraph-focus{
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.5); 
  font-size: 16px;
  line-height: 1.4;
}
.btn-focus{
  margin-top: 20px;
  margin-bottom: 20px; 
}
.focus-img{
  margin-bottom: 71px;
  border-radius: 48px;
  width: 840px;
  height: 365px;
  margin-left: 150px;
  margin-right: 150px;
}





/* ---News Letter Part */

.newsletter-title{
  font-size: 97px;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: 0%;
}
.newsletter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 92.23px 150px 14px 150px;
  padding: 71px 0px 71px 0px;

}

.form-section {
  min-width: 497px;
  background-color: aqua;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; 
}

.form-group label {
  font-size: 18px;
  color:rgba(0, 0, 0, 1) ;
  margin-bottom: 10px;
}

.form-group input {
  padding: 0px 32px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 20px;
  line-height: 150%;
  background-color: rgba(255, 255, 255, 1);
  min-height: 70px;
}

.form-group textarea { 
  min-height: 135px;
}

.submit-btn {
  padding: 19px 101px;
  width: 100%;
  background-color: #4E47FF; 
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  
}
.txt-area{
  padding: 20px 43px ;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 20px;
  /* font-weight: regular; */
  line-height: 150%;
  background-color: rgba(255, 255, 255, 1);
}

.form-email{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

